
@{
    ViewBag.Title = "Internal Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>An internal server error occurred.</h2>
<p>We're sorry for the inconvenience. Our team has been notified of this error and we'll work to resolve it as soon as possible.</p>