@{
    ViewBag.Title = "Contact us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div style="text-align: center; padding: 100px 0;">
    <h1 style="font-size: 50px;">404</h1>
    <h2 style="font-size: 30px;">Sorry, The Page, You are Looking for is not found.</h2>
    <p style="font-size: 20px; margin-top: 30px;">The page you are trying to access may have been moved, deleted, or it might be temporarily unavailable.</p>
    <a href="/" style="font-size: 20px; margin-top: 30px; display: inline-block; padding: 10px 20px; background-color: lightgray; border-radius: 5px; text-decoration: none;">Go back to Home</a>
</div>